.qtitle {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;

  color: #293264;
}

.responses {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
}

.cont {
  display: flex;
  justify-content: space-between;
}

.rightWrong {
  text-align: right;
  font-size: medium;
  font-family: "Inter";
  font-weight: 500;
}
