.Quiz {
  background-color: #f5f7fb;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.submit {
  font-family: "IBM Plex Mono", monospace;
  height: 5vh;
  border-radius: 10px;
  background: #9654ff;
  box-shadow: 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
  margin-top: 30px;
}

.submit:active {
  box-shadow: none;
}

.box {
  padding: 20px 40px;
  border-radius: 10px;
  background: #282929;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.restart {
  background: #a0d2da;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  font-weight: 800;
  font-family: "Inter";
  box-shadow: 4px 3px 10px #797a7c;
}

.restart:active {
  box-shadow: none;
}

.result {
  text-shadow: 2px 5px 10px #f5f7fb;
  opacity: 1;
  z-index: 6;
  color: wheat;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
