.Quiz {
  background-color: white;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  color: wheat;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
