.Start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20%;
}

.Start > h1 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0px;
  text-align: center;
}

.Start > h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.Start > button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    33deg,
    rgba(131, 58, 180, 1) 19%,
    rgba(29, 135, 253, 1) 52%,
    rgba(252, 176, 69, 1) 84%
  );
  border-radius: 15px;
  width: 193px;
  height: 52px;
}

.Start > button:active {
  border: 6px solid black;
}
