html,
body {
  height: 100%;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  width: 700px;
  height: 700px;
  border-radius: 10px;
  border: 5px solid #4d5b9e;
  background: #f5f7fb;
}

/* .blob1 {
  width: 80%;
  clip: rect(0px, 60px, 200px, 0px);
  position: absolute;
}

.blob2 {
  width: 100%;
  clip: rect(0px, 60px, 200px, 0px);
  position: absolute;
} */
